*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    --r: 56px; /* control the size */
    --c1: #3FB8AF /*color 1*/ 99%,#0000 101%;
    --c2: #FF9E9D /*color 2*/ 99%,#0000 101%;
    
    --s:calc(var(--r)*.866);  /* .866 = cos(30deg) */
    --g0:radial-gradient(var(--r),var(--c1));
    --g1:radial-gradient(var(--r),var(--c2));
    --f:radial-gradient(var(--r) at calc(100% + var(--s)) 50%,var(--c1));
    --p:radial-gradient(var(--r) at 100% 50%,var(--c2));
    background:
      var(--f) 0 calc(-5*var(--r)/2),
      var(--f) calc(-2*var(--s)) calc(var(--r)/2),
      var(--p) 0 calc(-2*var(--r)),
      var(--g0) var(--s) calc(-5*var(--r)/2),
      var(--g1) var(--s) calc( 5*var(--r)/2),
      radial-gradient(var(--r) at 100% 100%,var(--c1)) 0 calc(-1*var(--r)),   
      radial-gradient(var(--r) at 0%   50% ,var(--c1)) 0 calc(-4*var(--r)),
      var(--g1) calc(-1*var(--s)) calc(-7*var(--r)/2),
      var(--g0) calc(-1*var(--s)) calc(-5*var(--r)/2),
      var(--p) calc(-2*var(--s)) var(--r),
      var(--g0) calc(-1*var(--s)) calc(var(--r)/ 2),
      var(--g1) calc(-1*var(--s)) calc(var(--r)/-2),
      var(--g0) 0 calc(-1*var(--r)),
      var(--g1) var(--s) calc(var(--r)/-2),
      var(--g0) var(--s) calc(var(--r)/ 2) 
      #FF9E9D; /*color 2 again here (yes I got lazy defining a variable ) */
    background-size: calc(4*var(--s)) calc(6*var(--r));
  }
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.content{
    /* background-color: #e9b3b2; */
    height: 50vh;
    width: 80vw;
    border-radius: 10px;
    /* background: linear-gradient(40deg,#A1D9FF,#2470A0, #9A208C, #E11299, #FFEAEA, #F5C6EC); */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
h1{
    text-align: center;
    padding: 10px;
    font-family: "Major Mono Display", monospace;
    text-decoration: double;
}
#txt{
    width: 30vw;
    height: 5vh;
    margin:15px 10px 10px 350px;
    outline: 0;
    background: transparent;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    border-bottom: 1px solid orchid;
    border-top:0;
    border-right: 0;
    border-left: 0;
    color: #ffff;
    font-family: "Nunito", sans-serif;
}
#btn{
    height: 40px;
    width: 70px;
    background: transparent;
    cursor: pointer;
    outline: 0;
    border-radius: 5px;
    background: linear-gradient(40deg,#A1D9FF,#2470A0, #9A208C, #E11299);
    color: #fff;
    font-size: 20px;
}
.result p{
    margin-left: -800px;
    font-size: 30px;
    color: #fff;
    display: none;
    font-family: "Reddit Mono", monospace;
}